<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rocker.kotlinstudy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".StudyApplication"
        >
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.start.BasicActivity" />
        <activity android:name=".ui.activity.start.IdiomsActivity" />

        <activity android:name=".ui.activity.basic.BasicTypesActivity" />
        <activity android:name=".ui.activity.basic.PackageImportActivity" />
        <activity android:name=".ui.activity.basic.ControlFlowActivity" />
        <activity android:name=".ui.activity.basic.ReturnAndJumpActivity" />

        <activity android:name=".ui.activity.objects.ClassesAndInheritanceActivity" />
        <activity android:name=".ui.activity.objects.PropertiesAndFieldsActivity" />
        <activity android:name=".ui.activity.objects.InterfacesActivity" />
        <activity android:name=".ui.activity.objects.VisibilityModifiersActivity" />
        <activity android:name=".ui.activity.objects.ExtensionsActivity" />
        <activity android:name=".ui.activity.objects.DataClassesActivity" />
        <activity android:name=".ui.activity.objects.SealedClassesActivity" />
        <activity android:name=".ui.activity.objects.GenericsActivity" />
        <activity android:name=".ui.activity.objects.NestedAndInnerClassesActivity" />
        <activity android:name=".ui.activity.objects.EnumClassesActivity" />
        <activity android:name=".ui.activity.objects.ObjectsActivity" />
        <activity android:name=".ui.activity.objects.TypeAliasesActivity" />
        <activity android:name=".ui.activity.objects.InlineClassesActivity" />
        <activity android:name=".ui.activity.objects.DelegationActivity" />
        <activity android:name=".ui.activity.objects.DelegatedPropertiesActivity" />

        <activity android:name=".ui.activity.function.FunctionsActivity" />

    </application>

</manifest>